// body{
//     font-family: 'Titillium Web', sans-serif;
// }




/* Please â¤ this if you like it! */


@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

/* #Primary
================================================== */

body{
    font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #212112;
	overflow-x: hidden;
    transition: all 200ms linear;
}
.patternbg {
    background: url(../assets/images/patternbg.png) repeat;
    background-image: url(../assets/images/patternbg.png);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: repeat;
    background-repeat-y: repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}
.hero{

	background-image: url('../assets/images/home-banner.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #fff;
}
::selection {
	color: #fff;
	background-color: #ab2327;
}
::-moz-selection {
	color: #fff;
	background-color: #ab2327;
}

.single-image{
    width: 100%;
}

.single-image-h{
    height: 200px;;
}
a {
    color: #fff;
}
a:hover {
    color: #ab2327;
}
.footer-nav > li::before {
    content: url(../assets/images/foote_di.jpg);
    top: -3px;
    position: relative;
    right: 2px;
    padding: 10px;
}
/* #Navigation
================================================== */

.start-header {
	opacity: 1;
	transform: translateY(0);
	padding: 20px 0;
	box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on {
    box-shadow: 0 5px 10px 0 rgb(0, 0, 0);
    background-color: rgb(0, 0, 0) !important;
	padding: 10px 0;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on .navbar-brand img{
	height: 24px;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navigation-wrap{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar{
	padding: 0;
}
.navbar-brand img{
	height: 45px;
	width: auto;
	display: block;
  filter: brightness(10%);
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar-toggler {
	float: right;
	border: none;
	padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
	outline: none;
}

.navbar-light .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 1px solid #000;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after, 
.navbar-light .navbar-toggler-icon:before{
	width: 24px;
	position: absolute;
	height: 1px;
	background-color: #000;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
	top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
.nav-link{
	color: #212121 !important;
	font-weight: 500;
    transition: all 200ms linear;
}
.nav-item:hover .nav-link{
	color: #ab2327 !important;
}
.nav-item.active .nav-link{
	color: #777 !important;
}
.nav-link {
	position: relative;
	padding: 5px 0 !important;
	display: inline-block;
}
.nav-item:after{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color: #ab2327;
	opacity: 0;
    transition: all 200ms linear;
}
.nav-item:hover:after{
	bottom: 0;
	opacity: 1;
}
.nav-item.active:hover:after{
	opacity: 0;
}
.nav-item{
	position: relative;
    transition: all 200ms linear;
}

/* #Primary style
================================================== */

.bg-light {
	background-color: rgba(255, 255, 255, 0.062) !important;
    transition: all 200ms linear;
}
.no-bullets{
    list-style-type: none;
}
.section {
    position: relative;
	width: 100%;
	display: block;
}
.full-height {
    height: 100vh;
}

.half-height {
    height: 100vh;
}

.half-height-sub-page {
    height: 48vh;
}

.over-hide {
    overflow: hidden;
}
.absolute-center {
	position: absolute;
	top: 45%;
	left: 0;
	width: 100%;
    margin-top: 40px;
	transform: translateY(-50%);
	z-index: 20;
}

h1{
	font-size: 48px;
	line-height: 1.2;
	font-weight: 700;
	color: #212112;
}
p{
	margin: 0;
	padding-top: 10px;
	opacity: 1;
	transform: translate(0);
    transition: all 300ms linear;
    transition-delay: 1700ms;
}
body.hero-anime p{
	opacity: 0;
	transform: translateY(40px);
    transition-delay: 1700ms;
}
h1 span{
	display: inline-block;
    transition: all 300ms linear;
	opacity: 1;
    transform: translate(0);
    color: #fff;
}

.main-text-mobile{
	position: relative;
	animation: mymove 3s normal;
}
@keyframes mymove {
	from {left: 100px;}
	to {left: 0px;}
  }

body.hero-anime h1 span:nth-child(1){
	opacity: 0;
	transform: translateY(-20px);
}
body.hero-anime h1 span:nth-child(2){
	opacity: 0;
	transform: translateY(-30px);
}
body.hero-anime h1 span:nth-child(3){
	opacity: 0;
	transform: translateY(-40px);
}h1 span
body.hero-anime h1 span:nth-child(4){
	opacity: 0;
	transform: translateY(-40px);
}

body.hero-anime h1 span:nth-child(5){
	opacity: 0;
	transform: translateY(-50px);
}

body.hero-anime h1 span:nth-child(6){
	opacity: 0;
	transform: translateY(-60px);
}

body.hero-anime h1 span:nth-child(7){
	opacity: 0;
	transform: translateY(-70px);
}
h1 span:nth-child(1){
    transition-delay: 700ms;
}
h1 span:nth-child(2){
    transition-delay: 900ms;
}
h1 span:nth-child(3){
    transition-delay: 800ms;
}
h1 span:nth-child(4){
    transition-delay: 1000ms;
}
h1 span:nth-child(5){
    transition-delay: 700ms;
}
h1 span:nth-child(6){
    transition-delay: 900ms;
}
h1 span:nth-child(7){
    transition-delay: 800ms;
}
h1 span:nth-child(8){
    transition-delay: 600ms;
}
h1 span:nth-child(9){
    transition-delay: 700ms;
}
body.hero-anime h1 span:nth-child(11){
	opacity: 0;
	transform: translateY(30px);
}
body.hero-anime h1 span:nth-child(12){
	opacity: 0;
	transform: translateY(50px);
}
body.hero-anime h1 span:nth-child(13){
	opacity: 0;
	transform: translateY(20px);
}
body.hero-anime h1 span:nth-child(14){
	opacity: 0;
	transform: translateY(30px);
}
body.hero-anime h1 span:nth-child(15){
	opacity: 0;
	transform: translateY(50px);
}
h1 span:nth-child(11){
    transition-delay: 1300ms;
}
h1 span:nth-child(12){
    transition-delay: 1500ms;
}
h1 span:nth-child(13){
    transition-delay: 1400ms;
}
h1 span:nth-child(14){
    transition-delay: 1200ms;
}
h1 span:nth-child(15){
    transition-delay: 1450ms;
}
#switch,
#circle {
	cursor: pointer;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
} 
#switch {
	width: 60px;
	height: 8px;
	border: 2px solid #ab2327;
	border-radius: 27px;
	background: #000;
	position: relative;
	display: block;
	margin: 0 auto;
	text-align: center;
	opacity: 1;
	transform: translate(0);
    transition: all 300ms linear;
    transition-delay: 1900ms;
}
.switch-sub-page{
    margin-left: 20px !important;
    float: left;
}
body.hero-anime #switch{
	opacity: 0;
	transform: translateY(40px);
    transition-delay: 1900ms;
}
#circle {
	position: absolute;
	top: -11px;
	left: -13px;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background: rgb(99, 37, 37);
}
.switched {
	border-color: #000 !important;
	background: #ab2327 !important;
}
.switched #circle {
	left: 43px;
	box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
	background: #fff;
}
.nav-item .dropdown-menu {
    transform: translate3d(0, 10px, 0);
    visibility: hidden;
    opacity: 0;
	max-height: 0;
    display: block;
	padding: 0;
	margin: 0;
    transition: all 200ms linear;
}
.nav-item.show .dropdown-menu {
    opacity: 1;
    visibility: visible;
	max-height: 999px;
    transform: translate3d(0, 0px, 0);
}
.dropdown-menu {
	padding: 10px!important;
	margin: 0;
	font-size: 13px;
	letter-spacing: 1px;
	color: #212121;
	background-color: #fcfaff;
	border: none;
	border-radius: 3px;
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    transition: all 200ms linear;
}
.dropdown-toggle::after {
	display: none;
}

.dropdown-item {
	padding: 3px 15px;
	color: #212121;
	border-radius: 2px;
    transition: all 200ms linear;
}
.dropdown-item:hover, 
.dropdown-item:focus {
	color: #fff;
	background-color: rgba(98, 37, 37, 0.63);
}

body.dark{
	color: #fff;
	background-color: #1f2029;
}
.navbar-brand img{
  filter: brightness(100%);
}
body.dark h1{
	color: #fff;
}

body.dark h2{
	color: #fff;
}
body.dark h1 span{
    transition-delay: 0ms !important;
}
body.dark p{
	color: #fff;
    transition-delay: 0ms !important;
}
body.dark .bg-light {
	background-color: #14151a !important;
}
body.dark .start-header {
	box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
}
body.dark .start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}
body .nav-link{
	color: #fff !important;
}
body .nav-item.active .nav-link{
	color: #999 !important;
}
body .dropdown-menu {
	color: #fff;
	background-color: #1f2029;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}
body .dropdown-item {
	color: #fff;
}
body .navbar-light .navbar-toggler-icon {
	border-bottom: 1px solid #fff;
}
body .navbar-light .navbar-toggler-icon:after, 
body .navbar-light .navbar-toggler-icon:before{
	background-color: #fff;
}
body .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}


/* #Media
================================================== */

@media(min-width: 992px){
    .absolute-center {
        top: 55%;
    }

}


@media (max-width: 991px) { 
	h1{
		font-size: 38px;
	}
	.nav-item:after{
		display: none;
	}
	footer .nav-item::before {
		position: absolute;
		display: block;
		top: 15px;
		left: 0;
		width: 11px;
		height: 1px;
		content: "";
		border: none;
		background-color: #000;
		vertical-align: 0;
	}
	.dropdown-toggle::after {
		position: absolute;
		display: block;
		top: 10px;
		left: -23px;
		width: 1px;
		height: 11px;
		content: "";
		border: none;
		background-color: #000;
		vertical-align: 0;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"]::after{
		transform: rotate(90deg);
		opacity: 0;
	}
	.dropdown-menu {
		padding: 0 !important;
		background-color: transparent;
		box-shadow: none;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
		margin-top: 10px !important;
		margin-bottom: 20px !important;
	}
	body.dark .nav-item::before {
		background-color: #fff;
	}
	body.dark .dropdown-toggle::after {
		background-color: #fff;
	}
	body.dark .dropdown-menu {
		background-color: transparent;
		box-shadow: none;
    }

    .bg-light {
        background-color: #212529 !important;
        transition: all 200ms linear;
    }
}

/* #Link to page
================================================== */

.logo {
	position: absolute;
	bottom: 30px;
	right: 30px;
	display: block;
	z-index: 100;
	transition: all 250ms linear;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
  filter: brightness(10%);
	transition: all 250ms linear;
}
body.dark .logo img {
  filter: brightness(100%);
}

.nav-company{
    color: #fff;
}
.company-name-nav{
    font-size: 1.0625rem;
    font-weight: 800;
    text-align: left;
    color: #fff;
}
.company-description-nav{
    font-size: .75rem;
    color: #fff;
}
.get-in-touch-h{
    border-bottom: 1px solid #5d5d5d;
}
.company-get-in-touch-h {
    font-weight: 500;
    text-align: left;
    color: #fff;
}
.get-in-touch-h-icon{
    color: #fff;
    font-size: 30px;
}
.hotline-h{
    max-width: 36.66667%;
}
.working-hours-h{
    max-width: 18%;
}
.get-in-touch-h-social{
    color: #fff;
    font-size: 15px;
}
.hero-logo{
    width: 100%;
}
.hero-logo-sm{
    width: 10%;
}
.hero-header{
    color: #fff;
}
.hero-description{
    color: #fff;
}
.welcome-img{
    width: 100%;
}

.home-company-profile{
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
}
.home-company-profile-content{
    background-color: rgba(255, 255, 255, 0);
    border-left: 1px solid #5d5d5d45;
    margin-left: 25px;
}
.home-company-profile-header{
    background-color: #fff;
    border-radius: 40px !important;
}
.collapse-plus-icon{
    border: 1px solid white;
    background-color: #dc3545;
    color: white;
    padding: 5px;
    border-radius: 15px;
}
.company-profile-collapse-btn{
    text-decoration: none;
    color: black;
}
.company-profile-collapse-btn:hover{
    text-decoration: none;
}

.parallax {
    /* The image used */
    background-image: url("../assets/images/bg.jpg");
  
    /* Set a specific height */
    height: 200px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parallax-section{
      text-align: center;
      color:#fff;
  }
  .project-image {
      height: 405px !important;
  }
  .main-footer{
    background-image: url("../assets/images/footer-bg.jpg");
    color: white;
    text-align: left;
  }
  .footer-logo{
      width: 189px;
      height: auto;
  }
  input.newsletter-input {
    width: 85%;
    height: 37px;
    padding: 5px;
}
.footer_botom{
    background-color: #0000005c;
}
.highlighted-header{
    color: #f71735;
}

.heading_border {
    height: 3px;
    width: 46px;
    margin-bottom: 17px;
}
.bg_red {
    background: #f71735 !important;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #49505778;
  }
  
  .project-img:hover .overlay {
	opacity: 1;
  }

  .projects-tabs li.nav-item a{
	color: #dc3545 !important;
	padding: 13px !important;
	font-size: 13px;
	font-weight: bold;
}
.projects-tabs li.nav-item a:hover{
	color: white !important;
}

.projects-tabs li.nav-item a.active{
	background-color: #333333;
}
.nav-pills .show > .nav-link{
	background-color: #dc3545;
}
.single-image-h-m{
	height: 204px;
}
.projects-section-mobile{
	background-image: url('../assets/images/mobile-bg.png');
	background-color: #3d3d3d;
	background-repeat: repeat;
}
.projects-tabs-header{
	color: #fff;
	font-weight: bold;
}
.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
   .carousel-control-next-icon {
	 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   }

   h1.hero-main-text {
    font-size: 25px;
    color: #ffff;
}
.font-color-white{
	color: white !important;
}